name: Docker Image CI

on:
  push:
    branches:
      - main

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
      with:
         version: v0.7.0
     
    - name: Build the Docker image
      run: docker build -t migprogrammer/neighborfood-v2:latest .
      
    - name: Log into Docker Hub
      run: docker login -u migprogrammer -p ${{secrets.DOCKERHUB_TOKEN}}

    - name: Push image to Docker Hub
      run: docker push migprogrammer/neighborfood-v2:latest
